// Common values of border radius properties
$border-radius-values: (
  none: 0,
  sm: 0.125rem,
  md: 0.375rem,
  lg: 0.5rem,
  xl: 0.75rem,
  "2xl": 1rem,
  "3xl": 1.5rem,
  full: 9999px
);

// Common values of border sizes
$border-size-values: (
  0: 0,
  1: 0.2rem,
  2: 0.3rem,
  3: 0.6rem,
  4: 0.9rem,
  5: 1.3rem
);

$borders: (
  "border-radius": (
    properties: border-radius,
    selector: rounded,
    values: $border-radius-values
  ),
  "border-top-left-radius": (
    properties: border-top-left-radius,
    selector: rounded-tl,
    values: $border-radius-values
  ),
  "border-top-right-radius": (
    properties: border-top-right-radius,
    selector: rounded-tr,
    values: $border-radius-values
  ),
  "border-bottom-left-radius": (
    properties: border-bottom-left-radius,
    selector: rounded-bl,
    values: $border-radius-values
  ),
  "border-bottom-right-radius": (
    properties: border-bottom-right-radius,
    selector: rounded-br,
    values: $border-radius-values
  ),
  "border-top-radius": (
    properties: border-top-left-radius border-top-right-radius,
    selector: rounded-t,
    values: $border-radius-values
  ),
  "border-bottom-radius": (
    properties: border-bottom-left-radius border-bottom-right-radius,
    selector: rounded-b,
    values: $border-radius-values
  ),
  "border-left-radius": (
    properties: border-top-left-radius border-bottom-left-radius,
    selector: rounded-l,
    values: $border-radius-values
  ),
  "border-right-radius": (
    properties: border-top-right-radius border-bottom-right-radius,
    selector: rounded-r,
    values: $border-radius-values
  ),
  "border": (
    properties: border-width,
    selector: border,
    values: $border-size-values
  ),
  "border-y": (
    properties: border-top-width border-bottom-width,
    selector: border-y,
    values: $border-size-values
  ),
  "border-x": (
    properties: border-right-width border-left-width,
    selector: border-x,
    values: $border-size-values
  ),
  "border-t": (
    properties: border-top-width,
    selector: border-t,
    values: $border-size-values
  ),
  "border-e": (
    properties: border-right-width,
    selector: border-e,
    values: $border-size-values
  ),
  "border-b": (
    properties: border-bottom-width,
    selector: border-b,
    values: $border-size-values
  ),
  "border-s": (
    properties: border-left-width,
    selector: border-s,
    values: $border-size-values
  ),
  "border-color": (
    properties: border-color,
    selector: border,
    values: $colors
  )
);
