$gaps: (
  "gap": (
    properties: gap,
    selector: gap,
    values: $spacers
  ),
  "gap-x": (
    properties: column-gap,
    selector: gap-x,
    values: $spacers
  ),
  "gap-y": (
    properties: row-gap,
    selector: gap-y,
    values: $spacers
  )
);
