$heights: (
  "height": (
    properties: height,
    selector: h,
    values: $dimension-values
  ),
  "min-height": (
    properties: min-height,
    selector: min-h,
    values: $dimension-values
  ),
  "max-height": (
    properties: max-height,
    selector: max-h,
    values: $dimension-values
  )
);
