@use "sass:map";

$margin-properties: (
  all: margin,
  x: margin-left margin-right,
  y: margin-top margin-bottom,
  top: margin-top,
  end: margin-right,
  bottom: margin-bottom,
  start: margin-left
);
$margins: (
  "margin": (
    properties: map.get($margin-properties, all),
    selector: m,
    values: $common-values
  ),
  "margin-x": (
    properties: map.get($margin-properties, x),
    selector: mx,
    values: $common-values
  ),
  "margin-y": (
    properties: map.get($margin-properties, y),
    selector: my,
    values: $common-values
  ),
  "margin-top": (
    properties: map.get($margin-properties, top),
    selector: mt,
    values: $common-values
  ),
  "margin-end": (
    properties: map.get($margin-properties, end),
    selector: me,
    values: $common-values
  ),
  "margin-bottom": (
    properties: map.get($margin-properties, bottom),
    selector: mb,
    values: $common-values
  ),
  "margin-start": (
    properties: map.get($margin-properties, start),
    selector: ms,
    values: $common-values
  )
);
