$widths: (
  "width": (
    properties: width,
    selector: w,
    values: $dimension-values
  ),
  "min-width": (
    properties: min-width,
    selector: min-w,
    values: $dimension-values
  ),
  "max-width": (
    properties: max-width,
    selector: max-w,
    values: $dimension-values
  )
);
