// ====================================================
// Button Styles
// Description: Defines the default button styles.
// ====================================================

.button,
button {
  // Button border variables
  #{generate-css-variable-name(btn-border-width)}: 2px;
  #{generate-css-variable-name(btn-border-color)}: transparent;
  #{generate-css-variable-name(btn-border-style)}: solid;
  #{generate-css-variable-name(btn-border-radius)}: 4px;

  // Button font variables
  #{generate-css-variable-name(btn-font-size)}: 1.4rem;
  #{generate-css-variable-name(btn-font-weight)}: 500;
  #{generate-css-variable-name(btn-font-style)}: normal;

  // Button color variables
  #{generate-css-variable-name(btn-color)}: #{$dark};
  #{generate-css-variable-name(btn-bg)}: #{$primary};
  #{generate-css-variable-name(btn-hover-color)}: #{$light};
  #{generate-css-variable-name(btn-hover-bg)}: #{$secondary};
  #{generate-css-variable-name(btn-disbaled-color)}: gray;
  #{generate-css-variable-name(btn-disbaled-bg)}: lightgray;

  // Misc variables
  #{generate-css-variable-name(btn-min-height)}: 36px;
  #{generate-css-variable-name(btn-min-width)}: 64px;
  #{generate-css-variable-name(btn-gutter)}: 16px;

  // Font Styles
  font-size: #{use-css-variable(btn-font-size)};
  font-weight: #{use-css-variable(btn-font-weight)};
  font-style: #{use-css-variable(btn-font-style)};
  color: #{use-css-variable(btn-color)};

  // Border Styles
  border-width: #{use-css-variable(btn-border-width)};
  border-color: #{use-css-variable(btn-border-color)};
  border-style: #{use-css-variable(btn-border-style)};
  border-radius: #{use-css-variable(btn-border-radius)};

  // Misc Styles
  cursor: pointer;
  display: inline-block;
  outline: none;
  background-color: #{use-css-variable(btn-bg)};
  min-height: #{use-css-variable(btn-min-height)};
  min-width: #{use-css-variable(btn-min-width)};
  padding-inline: #{use-css-variable(btn-gutter)};
  transition:
    color 200ms ease,
    border-color 200ms ease,
    background-color 200ms ease;

  // Hover Styles
  &:hover {
    color: #{use-css-variable(btn-hover-color)};
    background-color: #{use-css-variable(btn-hover-bg)};
  }

  // Outlined Variant
  &.outlined {
    background-color: transparent;
    border-color: #{use-css-variable(btn-bg)};
    color: #{use-css-variable(btn-bg)};

    &:hover {
      background-color: #{use-css-variable(btn-bg)};
      color: #{use-css-variable(btn-color)};
    }
  }

  // Disabled State
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    background-color: #{use-css-variable(btn-disbaled-bg)};
    color: #{use-css-variable(btn-disbaled-color)};

    // Disables pointer events when the button is active to prevent interaction
    // but preserve cursor styles
    &:active {
      pointer-events: none;
    }
  }
}
