// ====================================================
// Colors Module
// Description: Dynamically generates text and
// background color utility classes
// ====================================================

// Colors
// ====================================================
@each $color, $value in $colors {
  // Text Colors
  .text-#{$color} {
    color: rgba(#{use-css-variable(#{$color}-rgb)}, #{use-css-variable(text-opacity, 1)});
  }

  // Background Colors
  .bg-#{$color} {
    background-color: rgba(#{use-css-variable(#{$color}-rgb)}, #{use-css-variable(bg-opacity, 1)});

    @if $enable-bg-color-contrast == true {
      color: #{color-contrast($value)};
    }
  }
}

// Opacities
// ====================================================
@each $opacity, $value in $opacities {
  // General Opacity
  .opacity-#{$opacity} {
    opacity: #{use-css-variable(opacity-#{$opacity}, 1)};
  }

  // Text Opacity
  .text-opacity-#{$opacity} {
    #{generate-css-variable-name(text-opacity)}: #{use-css-variable(opacity-#{$opacity}, 1)};
  }

  // Background Opacity
  .bg-opacity-#{$opacity} {
    #{generate-css-variable-name(bg-opacity)}: #{use-css-variable(opacity-#{$opacity}, 1)};
  }
}
