// ====================================================
// Loaders Styles
// Description: Defines common loaders
// TODO: Improve the styles to customize loader sizing with variables
// ====================================================

// Base loader styles for reusable animations
%loader {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: #{use-css-variable(loader-size, $loader-base-size)};
  min-height: #{use-css-variable(loader-size, $loader-base-size)};
  position: relative;
  margin-inline: 0.5rem;
  color: #{$primary};
  #{generate-css-variable-name(animation-speed)}: #{$animation-base-speed};

  // Generate animation speed utilities classes
  @each $name, $value in $loader-speeds {
    &.#{$name} {
      #{generate-css-variable-name(animation-speed)}: #{$value};
    }
  }
}

// Styles for the spinner (circular loader)
// ===================================================
.spinner-loader {
  @extend %loader;

  #{generate-css-variable-name(loader-size)}: #{$loader-spinner-size};
  border: 4px solid #{use-css-variable(loader-background, $dark)};
  border-top: 4px solid currentcolor !important;
  border-radius: 50%;

  @include generate-animation(spin);
}

// Styles for the dots loader (bouncing dots)
// ===================================================
.dots-loader {
  @extend %loader;

  #{generate-css-variable-name(loader-size)}: #{$loader-dots-size};
  margin-inline: 0;

  div {
    display: inline-block;
    min-width: #{use-css-variable(dot-size, 1rem)} !important;
    min-height: #{use-css-variable(dot-size, 1rem)} !important;
    margin: 0 5px;
    background-color: currentcolor !important;
    border-radius: #{$border-radius-infinite};

    @include generate-animation(bounce, 0.8);

    :nth-child(2) {
      animation-delay: calc(#{use-css-variable(animation-speed)} * 0.2);
    }

    :nth-child(3) {
      animation-delay: calc(#{use-css-variable(animation-speed)} * 0.4);
    }
  }
}

// Styles for the bars loader
// ===================================================
.bars-loader {
  @extend %loader;

  #{generate-css-variable-name(loader-size)}: #{$loader-bars-size};

  div {
    width: 0.4rem;
    height: 2rem;
    margin: 0 0.2rem;
    background-color: currentcolor !important;
    border-radius: 1rem;

    @include generate-animation(stretch, 1.2, ease-in-out);

    @for $i from 1 through $loader-bars-amount {
      &:nth-child(#{$i}) {
        animation-delay: calc(
          #{use-css-variable(animation-speed)} * (0.2 * $i)
        );
      }
    }
  }
}

// Styles for the pulse loader
// ===================================================
.pulse-loader {
  @extend %loader;

  #{generate-css-variable-name(loader-size)}: #{$loader-pulse-size};
  border-radius: 50%;
  background-color: currentcolor;

  @include generate-animation(pulse, 1.5, ease-in-out);
}
