@use "sass:map";

// Common values of border sizes

$border-radius: (
  "border-radius": (
    properties: border-radius,
    selector: rounded,
    values: $radius-values,
  ),
  "border-top-left-radius": (
    properties: border-top-left-radius,
    selector: rounded-tl,
    values: $radius-values,
  ),
  "border-top-right-radius": (
    properties: border-top-right-radius,
    selector: rounded-tr,
    values: $radius-values,
  ),
  "border-bottom-left-radius": (
    properties: border-bottom-left-radius,
    selector: rounded-bl,
    values: $radius-values,
  ),
  "border-bottom-right-radius": (
    properties: border-bottom-right-radius,
    selector: rounded-br,
    values: $radius-values,
  ),
  "border-top-radius": (
    properties: border-top-left-radius border-top-right-radius,
    selector: rounded-t,
    values: $radius-values,
  ),
  "border-bottom-radius": (
    properties: border-bottom-left-radius border-bottom-right-radius,
    selector: rounded-b,
    values: $radius-values,
  ),
  "border-left-radius": (
    properties: border-top-left-radius border-bottom-left-radius,
    selector: rounded-l,
    values: $radius-values,
  ),
  "border-right-radius": (
    properties: border-top-right-radius border-bottom-right-radius,
    selector: rounded-r,
    values: $radius-values,
  ),
);
$borders: (
  "border": (
    properties: border-width,
    selector: border,
    values: $border-values,
  ),
  "border-y": (
    properties: border-top-width border-bottom-width,
    selector: border-y,
    values: $border-values,
  ),
  "border-x": (
    properties: border-right-width border-left-width,
    selector: border-x,
    values: $border-values,
  ),
  "border-t": (
    properties: border-top-width,
    selector: border-t,
    values: $border-values,
  ),
  "border-e": (
    properties: border-right-width,
    selector: border-e,
    values: $border-values,
  ),
  "border-b": (
    properties: border-bottom-width,
    selector: border-b,
    values: $border-values,
  ),
  "border-s": (
    properties: border-left-width,
    selector: border-s,
    values: $border-values,
  ),
);
$border-color: (
  "border-color": (
    properties: border-color,
    selector: border,
    values: $colors,
  ),
);
$paddings: (
  "padding": (
    properties: padding,
    selector: p,
    values: $spacers,
  ),
  "padding-x": (
    properties: padding-left padding-right,
    selector: px,
    values: $spacers,
  ),
  "padding-y": (
    properties: padding-top padding-bottom,
    selector: py,
    values: $spacers,
  ),
  "padding-top": (
    properties: padding-top,
    selector: pt,
    values: $spacers,
  ),
  "padding-end": (
    properties: padding-right,
    selector: pe,
    values: $spacers,
  ),
  "padding-bottom": (
    properties: padding-bottom,
    selector: pb,
    values: $spacers,
  ),
  "padding-start": (
    properties: padding-left,
    selector: ps,
    values: $spacers,
  ),
);
$margins: (
  "margin": (
    properties: margin,
    selector: m,
    values: $spacers-with-auto,
  ),
  "margin-x": (
    properties: margin-left margin-right,
    selector: mx,
    values: $spacers-with-auto,
  ),
  "margin-y": (
    properties: margin-top margin-bottom,
    selector: my,
    values: $spacers-with-auto,
  ),
  "margin-top": (
    properties: margin-top,
    selector: mt,
    values: $spacers-with-auto,
  ),
  "margin-end": (
    properties: margin-right,
    selector: me,
    values: $spacers-with-auto,
  ),
  "margin-bottom": (
    properties: margin-bottom,
    selector: mb,
    values: $spacers-with-auto,
  ),
  "margin-start": (
    properties: margin-left,
    selector: ms,
    values: $spacers-with-auto,
  ),
);
$utilities: () !default;
$utilities: map-merge-multiple(
  $border-radius,
  $borders,
  $border-color,
  $paddings,
  $margins,
  $utilities
);
